@{
    ViewBag.Title = "Home Page";
}

    <div id="center-button">
        <div class="row">
            <div class="col-md-offset-4 col-md-3">
                <center><p><a class="btn btn-primary btn-xlarge" onclick="window.location.href = '@Url.Action("Index", "Rush")'">RUSH &raquo;</a></p></center>
            </div>
        </div>
    </div>




