
@{
    ViewBag.Title = "DeltaTauDeltaandPhiDeltaThetaCalendar";
}

<h2>Delta Tau Delta and Phi Delta Theta</h2>

<div class="row">
    <div class="col-sm-offset-1">
        <button type="button" class="btn btn-sm btn-default" onclick="window.location.href = '@Url.Action("/Index","Rush")'">Back</button>
    </div>
    <div class="iframe">
        <span><iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;src=mgn6f9ceoqdhi8p7li55j58qh8%40group.calendar.google.com&amp;color=%2328754E&src=22e8h0ioid9bflcagqtgfopv2c%40group.calendar.google.com&amp;color=%237A367A&ctz=America/New_York&dates=20160701%2F20160731" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></span>
    </div>
</div>

