@{
    ViewBag.Title = "Rush Page";
}

<form id="form" method="post" action="CheckSubmit">
    <div class="box">
        <div>
            <h1>Fraternities</h1>
        </div>

        <br />

        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Beta Theta Pi</button>
                    <input type="checkbox" name="betaThetaPi" id="betaThetaPi" class="hidden" />
                </span>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Delta Chi</button>
                    <input type="checkbox" name="deltaChi" id="deltaChi" class="hidden" />
                </span>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Delta Tau Delta</button>
                    <input type="checkbox" name="deltaTauDelta" id="deltaTauDelta" class="hidden" />
                </span>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Lambda Chi Alpha</button>
                    <input type="checkbox" name="lambdaChiAlpha" id="lambdaChiAlpha" class="hidden" />
                </span>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Phi Delta Theta</button>
                    <input type="checkbox" name="phiDeltaTheta" id="phiDeltaTheta" class="hidden" />
                </span>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Phi Gamma Delta</button>
                    <input type="checkbox" name="phiGammaDelta" id="phiGammaDelta" class="hidden" />
                </span>
            </div>
        </div>

        <br />

        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Pi Kappa Alpha</button>
                    <input type="checkbox" name="piKappaAlpha" id="piKappaAlpha" class="hidden" />
                </span>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Sigma Alpha Epsilon</button>
                    <input name="sigmaAlphaEpsilon" id="sigmaAlphaEpsilon" type="checkbox" class="hidden" />
                </span>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Sigma Chi</button>
                    <input type="checkbox" name="sigmaChi" id="sigmaChi" class="hidden" />
                </span>
            </div>
        </div>


        <br />

        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Sigma Nu</button>
                    <input type="checkbox" name="sigmaNu" id="sigmaNu" class="hidden" />
                </span>
            </div>
            <div class="col-md-offset-2 col-md-4">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Theta Xi</button>
                    <input type="checkbox" name="thetaXi" id="thetaXi" class="hidden" />
                </span>
            </div>
        </div>

    </div>

    <br />
    <div class="box">
        <div>
            <h1>Sororities</h1>
        </div>

        <br />
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Alpha Phi</button>
                    <input name="alphaPhi" id="alphaPhi" type="checkbox" class="hidden" />
                </span>
            </div>
            <div class="col-md-offset-2 col-md-4">
                <span class="button-checkbox">
                    <button type="button" class="btn" data-color="primary">Alpha Sigma Alpha</button>
                    <input name="alphaSigmaAlpha" id="alphaSigmaAlpha" type="checkbox" class="hidden" />
                </span>
            </div>
        </div>
     </div>
    <div class="gap">
        <div class="row">
            <div class="col-md-offset-4 col-md-2">
                <button type="submit" name="submitButton" value="View" title="View one organization's greek calendar" class="btn btn-xlarge btn-success" onclick="return viewClickVerify()">View</button>
            </div>
            <div class="col-md-2">
                <button type="submit" name="submitButton" value="Compare" title="Compare two organization's greek calendars" class="btn btn-xlarge btn-info" onclick="return compareClickVerify()">Compare</button>
            </div>
        </div>
     </div>
</form>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/button-checkbox.js")"></script>
    <script src="@Url.Content("~/Scripts/greekcalendars-sorority-fraternity-compare.js")"></script>
    <script src="@Url.Content("~/Scripts/greekcalendars-checkbox-verification.js")"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
}