@{
    ViewBag.Title = "Rush Page";
}
@section Scripts
{
    <script src="@Url.Content("~/Scripts/button-checkbox.js")"></script>
}

<div>
    <center><h2>Fraternities</h2></center>
</div>

<br />

<div class="row">
    <div class="col-md-offset-1 col-md-3">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Beta Theta Pi</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
    <div class="col-md-offset-1 col-md-3">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Delta Chi</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
    <div class="col-md-offset-1 col-md-3">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Delta Tau Delta</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-offset-1 col-md-3">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Lambda Chi Alpha</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
    <div class="col-md-offset-1 col-md-3">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Phi Delta Theta</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
    <div class="col-md-offset-1 col-md-3">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Phi Gamma Delta</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-offset-1 col-md-3">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Pi Kappa Alpha</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
    <div class="col-md-offset-1 col-md-3">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Sigma Alpha Epsilon</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
    <div class="col-md-offset-1 col-md-3">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Sigma Chi</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Sigma Nu</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
    <div class="col-md-offset-2 col-md-4">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Theta Xi</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
</div>

<br />

<div>
    <center><h2>Sororities</h2></center>
</div>

<br />

<div class="row">
    <div class="col-md-offset-2 col-md-4">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Alpha Phi</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
    <div class="col-md-offset-2 col-md-4">
        <span class="button-checkbox">
            <button type="button" class="btn" data-color="primary">Alpha Sigma Alpha</button>
            <input type="checkbox" class="hidden" />
        </span>
    </div>
</div>
