
@{
    ViewBag.Title = "SigmaNuCalendar";
}

<h2>Sigma Nu</h2>

<div class="row">
    <div class="col-sm-1">
        <button type="button" class="btn btn-sm btn-default" onclick="window.location.href = '@Url.Action("/Index","Rush")'">Back</button>
    </div>

    <span><iframe src="https://calendar.google.com/calendar/embed?src=1q3hlota06kc32963jt2cnl270%40group.calendar.google.com&amp;color=%23125A12&ctz=America/New_York&dates=20160701%2F20160731" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></span>

</div>

